<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body style="background-color: #E6D1F2;">
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/home">Childrens World</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/toys">Toys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistics">Statistics</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/logUp">Sign Up</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Sing In</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" sec:authentication="name" href="/user-profile"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Sing out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="content" style="margin-top: 100px;margin-left: 30px;width: 1285px;">
    <div class="row">
        <div class="col-12 card" style="height: 300px">
            <h2>All Users</h2>
            <br>
            <div class="table-responsive" style=" height:150px;overflow:auto;
                        margin-top:20px;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Personal Number</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}" th:if="${user.getUsername()!='admin'}">
                        <td th:text="${user.getUsername()}"></td>
                        <td th:text="${user.getFirstName()}"></td>
                        <td th:text="${user.getLastName()}"></td>
                        <td th:text="${user.getEmail()}"></td>
                        <td th:text="${user.getPersonal_Number()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-primary" style="position:absolute;bottom:-60%;width:100%;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Childrens World</p>
    </div>
</footer>
</body>
</html>